:root {
    --basic-white: #FFFFFF;
    --special-white: rgba(255, 255, 255, 0.3);
    --basic-black: #000000;
    --special-black: rgba(0, 0, 0, 0.3);
    --basic-light-gray: #EEEEEE;
    --border-gray: #DBDBDB;
    --social-gray: #E1E1E1;
    --special-gray: #A6A6A6;
    --catalog-gray: #666666;
    --light-gray: #D5D5D5;
    --medium-gray: #DFDFDF;
    --gray: #888888;
    --medium-dark-gray: #666666;
    --dark-gray: #4D4D4D;
    --light-pinkred: #FB565A;
    --pink-red: #E74246;
    --dark-pink-red: #D7373B;
    --extra-dark-pinkred: #231f20;
    --dark-blueblue: #283136;
    --extra-light-blue: #D7DCDE;
    --light-green-blue: #00CA74;
    --medium-green-blue: #00BC6C;
    --dark-green-blue: #00AA62;
    --medium-light-yellow: #EFC849;
    --light-yellow: #EFC84A;
    --medium-yellow: #EAB534;
    --dark-yellow: #E5A722;

}
.page {
  height: 100%;
}
.page-body {
  min-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.carousel-item:not(:first-child) {
  display: none;
}

.modal {
  display: none;
}

.main-header-logo:active{
  opacity: 0.2;
}

.main-header-logo{
  padding: 0;
}

.main-navigation {
  min-width: 100%;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--basic-light-gray)
}

.main-navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 75px;

}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 437px;
  height: 30px;
}

.main-navigation a {;
  color: var(--basic-black);
}

.user-basket{
  list-style: none;
  padding: 0;
  position: relative;

}

.user-basket::before{
  content: "";
  width: 15px;
  height: 15px;
  left: -25px;
  top: 6px;
  position: absolute;
  background: url(../img/cart-icon.svg) 100% no-repeat;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-light-gray);
}

.main-navigation a:hover {
  color: var(--light-pinkred);
}

.main-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation li:active {
  border-bottom: 2px solid var(--light-pinkred);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}
.catalog-header{
  height: 235px;
  display: flex;
  align-items: center;
  background-color: var(--basic-light-gray);
}

.catalog-header-title {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  font-weight: 500;
  color: var(--basic-black);
}

.catalog-container {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.catalog-filters {
  width: 260px;
  margin-right: 141px;
}

.catalog-template {
  width: 760px;
}
.catalog-template-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 40px;
}
.catalog-template-item {
  width: 360px;
  height: 578px;
  position: relative;
  border-radius: 0px 0px 3px 3px;
  background-color: var(--basic-light-gray);
  text-align: center;
}

.catalog-template-item::before {
  content: url(../img/browser.svg);
  position: absolute;
  top: -40px;
}

.catalog-template-item:hover::before {
    opacity: 0.12;
}

.catalog-template-preview {
  box-sizing: border-box;
  position: absolute;
  display: none;
  background-color: var(--basic-light-gray);
  border-radius: 0px 0px 3px 3px;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 44px;
  width: 360px;
  min-height: 231px;
  bottom: 0;
}

.catalog-template-item:hover .catalog-template-preview{
  display: block;
}

.preview-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.preview-title:hover {
 color: var(--light-pinkred);
}

.preview-title:active {
  color: var(--special-black);
}

.preview-subtitle {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--catalog-gray);
  padding: 12px 60px 32px;
}

.button-price {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

.services {
  padding: 80px 0;
  border-bottom: 2px solid var(--basic-light-gray);
}

.services-title {
  font-size: 24px;
  line-height: 30px;
}
.services-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

}

.services-item {
  width: 300px;
  min-height: 346px;
  margin-right: 140px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--light-pinkred);
  border: none;
  border-radius: 3px;
}



.button-green {
  background-color: var(--light-green-blue);
}

.button-yellow {
  background-color: var(--light-yellow);
}

.button:hover {
  background-color: var(--pink-red);
}

.button:focus{
  border: none;
  color: var(--special-white);
  background-color: var(--dark-pink-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.button-green:hover {
  background-color: var(--medium-green-blue);
}

.button-green:focus{
  border: none;
  color: var(--special-white);
  background-color: var(--dark-green-blue);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.button-yellow:hover {
  background-color: var(--medium-yellow);
}

.button-yellow:focus{
  color: var(--special-white);
  background-color: var(--dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.carousel {
  min-width: 100%;
  background-color: var(--basic-light-gray);
}

.carousel .container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.carousel-list{
  height: 431px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-1 {
    background-image: url(../img/nerds-index-slide1.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.slide-2 {
    background-image: url(../img/nerds-index-slide2.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.slide-3 {
    background-image: url(../img/nerds-index-slide3.png));
    background-repeat: no-repeat;
    background-position: 100%;
}

.button-control-list {
    position: absolute;
    height: 18px;
    left: 57.6%;
    top: 82%;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
}

.button-control {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--basic-white);
    border: 0px;
    margin-right: 8px;
}

.button-control.active {
    background-image: url(../img/ellipse-a.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 55%;
}



.carousel-item {
  margin-top: 70px;
  width: 100%;
  height: 431px;
}

.button-carousel {
  width: 240px;
  height: 50px;
}

.carousel-item-title {
  font-weight: bold;
  width: 538px;
  font-size: 55px;
  line-height: 55px;
}
.carousel-item-subtitle {
  width: 400px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 25px;
}

.more {
  padding-top: 39px;
  padding-bottom: 55px;
  border-bottom: 2px solid var(--basic-light-gray);
}

.more-container{
  display: flex;
  flex-direction: row;
}

.description {
  width: 680px;
  margin-right: 149px;
}
.description-title {
  width: 660px;
  font-weight: 500px;
  font-size: 45px;
  line-height: 45px;
}

.description-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-item p{
  position: relative;
  padding-left: 32px;
}

.description-item p::before{
  content: " ";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0px;
  background-color: red;
}

.benefits{
  display: flex;
  flex-direction: column;
  width: 360px;
}

.benefits-list{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
.benefits-item{
  width: 120px;
}

.numeral {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);

}

.percent::after {
    content: " ";
    position: absolute;
    background: url(../img/percent.svg);
    height: 40px;
    width: 20px;
    background-repeat: no-repeat;
    top: 12px;
}

.benefits-title {
  font-weight: bold;
}

.benefits-item-title {
  font-size: 16px;
  line-height: 18px;
}

.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 460px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 54px;
}

.catalog-pagination-item:not(:last-child){
  margin-right: 11px;

}
.catalog-pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
}

.catalog-pagination-item:last-child a {
    width: 260px;
    height: 50px;
}

.catalog-pagination-item a:hover {
  background-color: var(--medium-gray);
}

.catalog-pagination-item a:focus {
  color: var(--special-black);
  background-color: var(--light-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  width: 44px;
  height: 44px;
  border: 3px solid var(--border-gray);
  background-color: var(--basic-white);
  border-radius: 3px;
}

.partnership {
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid var(--basic-light-gray);
}

.partnership-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;

}

.partnership-item{
  position: relative;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}
.partnership-item:not(:nth-child(4n))::after{
  content: "";
  position: absolute;
  background-color: var(--basic-black);
  width: 2px;
  height: 52px;
  right: -4px;
}

.partnership-item:hover{
  opacity: 1;
}

.partnership-item:focus{
  opacity: 0.1;
}

.page-footer {
  padding-top: 80px;
}

.footer-contacts{
  min-width: 1440px;
  height: 416px;
  background: var(--basic-white) url(../img/map.png) no-repeat 100%;
}

.footer-contacts-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-contacts-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-white);
  height: 319px;
  width: 308px;
  color: var(--catalog-gray)
}

.contacts-title {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-direction{
  width: 210px;
  margin: 0 auto;
}

.footer-phone {
  width: 210px;
}

.footer-phone a{
  color: var(--catalog-gray);
}

.button-contacts{
  height: 50px;
  width: 219px;
}

.footer-contacts-marker {
  width: 231px;
  height: 190px;
  margin-bottom: 55px;
  margin-left: 374px;
}
.social-description {
  margin-left: 149px;
  order: 1;
}


.footer-social{
  display: flex;
  flex-direction: row;
  padding-top: 68px;
}

.footer-title {
  font-size: 36px;
  line-height: 36px;
}

.footer-subtitle{
 font-size: 16px;
  line-height: 22px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background: var(--social-gray);
    border-radius: 50%;
    margin-right: 9px;
}


.social-button:last-child {
  margin-right: 0;
}
.social-button:hover{
   background: var(--pink-red);
}
.social-button:focus {
   background: var(--pink-red);
}
.social-button:active {
   box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   background: var(--dark-pink-red);
}
.social-button:active svg{
  opacity: 0.3;
}
