:root {
    --basic-white: #FFFFFF;
    --special-white: rgba(255, 255, 255, 0.3);
    --basic-black: #000000;
    --special-black: rgba(0, 0, 0, 0.3);
    --basic-light-gray: #EEEEEE;
    --border-gray: #DBDBDB;
    --social-gray: #E1E1E1;
    --special-gray: #A6A6A6;
    --catalog-gray: #666666;
    --light-gray: #D5D5D5;
    --medium-gray: #DFDFDF;
    --gray: #888888;
    --medium-dark-gray: #666666;
    --dark-gray: #4D4D4D;
    --light-pinkred: #FB565A;
    --pink-red: #E74246;
    --dark-pink-red: #D7373B;
    --extra-dark-pinkred: #231f20;
    --dark-blueblue: #283136;
    --extra-light-blue: #D7DCDE;
    --light-green-blue: #00CA74;
    --medium-green-blue: #00BC6C;
    --dark-green-blue: #00AA62;
    --medium-light-yellow: #EFC849;
    --light-yellow: #EFC84A;
    --medium-yellow: #EAB534;
    --dark-yellow: #E5A722;
    --special-form-half-gray: rgba(68, 68, 68, 0.5);
    --special-form-gray: rgba(68, 68, 68, 1);
    --hover-border-gray: #B4B9BB;
    --special-cursor-shadow: rgba(0, 0, 0, 0.25);
    --special-black-toggle: rgba(0, 0, 0, 0.15);



}
.page {
  height: 100%;
}
.page-body {
  min-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.carousel-item:not(:first-child) {
  display: none;
}

.modal {
  display: none;
}

.main-header-logo:active{
  opacity: 0.2;
}

.main-header-logo{
  padding: 0;
}

.main-navigation {
  min-width: 100%;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--basic-light-gray)
}

.main-navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 35px;

}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 437px;
  height: 30px;
  margin-top: 27px;
  margin-right: 46px;
}

.main-navigation li{
  display: block;
  height: 42px;
}

.main-navigation a {
  color: var(--basic-black);
}

.user-basket{
  list-style: none;
  position: relative;
}
.basket {
   margin-top: 24px;
}

.user-basket::before{
  content: "";
  width: 15px;
  height: 15px;
  left: 2px;
  top: 30px;
  position: absolute;
  background: url(../img/cart-icon.svg) 100% no-repeat;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-light-gray);
}

.main-navigation a:hover {
  color: var(--light-pinkred);
}

.main-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation li:active, .active-item {
  border-bottom: 2px solid var(--light-pinkred);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}

.services {
  padding: 80px 0;
  border-bottom: 2px solid var(--basic-light-gray);
}

.services-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 19px 0 16px;
  letter-spacing: -1px;
}

.services-sub-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  letter-spacing: 0.2px;
}

.services-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

}

.services-item {
  width: 300px;
  min-height: 346px;
  margin-right: 100px;

}

.services-item:nth-child(3n) {
  margin-right: 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--light-pinkred);
  border: none;
  border-radius: 3px;
}



.button-green {
  background-color: var(--light-green-blue);
}

.button-yellow {
  background-color: var(--light-yellow);
}

.button:hover {
  background-color: var(--pink-red);
}

.button-red:focus{
  border: none;
  color: var(--special-white);
  background-color: var(--dark-pink-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.button-green:hover {
  background-color: var(--medium-green-blue);
}

.button-green:focus{
  border: none;
  color: var(--special-white);
  background-color: var(--dark-green-blue);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.button-yellow:hover {
  background-color: var(--medium-yellow);
}

.button-yellow:focus{
  color: var(--special-white);
  background-color: var(--dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.carousel {
  min-width: 100%;
  background-color: var(--basic-light-gray);
}

.carousel .container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.carousel-list{
  height: 412px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-1 {
    background-image: url(../img/nerds-index-slide1.png);
    background-repeat: no-repeat;
    background-position: right 3px bottom 0;
}

.slide-2 {
    background-image: url(../img/nerds-index-slide2.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.slide-3 {
    background-image: url(../img/nerds-index-slide3.png));
    background-repeat: no-repeat;
    background-position: 100%;
}

.button-control-list {
    position: absolute;
    width: 88px;
    height: 18px;
    left: 50%;
    top: 75.4%;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
}

.button-control {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--basic-white);
    border: 0px;
    margin-right: 12px;
}

.button-control:last-child {
    margin-right: 0;
}

.button-control.active {
    background-image: url(../img/ellipse-a.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 55%;
}



.carousel-item {
  width: 100%;
}

.button-carousel {
  width: 240px;
  height: 50px;
}

.carousel-item-title {
  font-weight: 700;
  letter-spacing: -1.7px;
  width: 538px;
  font-size: 55px;
  line-height: 55px;
  margin-top: 57px;
  margin-bottom: 27px;
}
.carousel-item-subtitle {
  width: 400px;
  letter-spacing: 0.2px;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 22px;
  font-weight: 500;
}

.more {
  padding-top: 28px;
  padding-bottom: 61px;
  border-bottom: 2px solid var(--basic-light-gray);
}

.more-container{
  display: flex;
  flex-direction: row;
}

.description {
  width: 680px;
  margin-right: 140px;
}
.description-title {
  width: 660px;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 33px;
  letter-spacing: -1.2px;
}

.description-subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 41px;
  letter-spacing: 0.2px;
}

.description-list-header {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 6px;
  letter-spacing: -0.6px;

}

.description-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-item p{
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  letter-spacing: 0.1px;
}

.description-item:last-child{
  margin-bottom: 0;
}

.description-item p::before{
  content: " ";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11.5px;
  left: -0.5px;
  background-color: red;
}

.benefits{
  display: flex;
  flex-direction: column;
  width: 360px;
  padding-top: 11px;
}

.benefits-list{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
.benefits-item{
  width: 120px;
}

.benefits-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 36px;
  padding-left: 16px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.numeral {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin-top: 15px;
  margin-bottom: 0;
}

.percent::after {
    content: " ";
    position: absolute;
    background: url(../img/percent.svg);
    height: 40px;
    width: 20px;
    background-repeat: no-repeat;
    top: 14px;
}

.benefits-item-title {
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

.page-title h1 {
  min-height: 82px;
  margin: 0;
  padding-top: 74px;
  padding-bottom: 80px;
  text-align: center;
  text-transform: none;
  color: var(--color-black);
  background-color: var(--basic-light-gray);
  font-size: 55px;
  font-weight: 500;
  line-height: 100%;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  vertical-align: top;
  text-decoration: none;
  color: var(--basic-black);
  border: none;
  border-radius: 3px;
  background-color: var(--basic-light-gray);
  font-size: 16px;
  line-height: 18px;
}

.button-grey {
  width: 260px;
  font-weight: bold;
  cursor: pointer;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
}

.button-grey:hover {
  background-color: var(--medium-gray);
}

.button-grey:active {
  opacity: 0.3;
  color: var(--color-black);
  background-color: var(--medium-gray);
  box-shadow: inset 0 3px var(--special-black);
}

.component {
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.component-pay {
  margin-bottom: 47px;
}

.option {
  position: relative;
  display: block;
  width: min-content;
  margin-bottom: 16px;
  padding-left: 36px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.option:last-child {
  margin-bottom: 0;
}

.adaptive {
  color: var(--dark-blueblue);
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}

.sorting {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.content {
  padding-top: 55px;
}

.result-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;
}

.sorting {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}

.products-section {
  display: grid;
  margin: 56px auto 60px;
  grid-template-columns: 260px auto;
  grid-gap: 140px;
}

.products-container {
  display: grid;
  margin: 0 0 57px;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 41px;
  grid-row-gap: 31px;
}

.product-image {
  display: block;
  margin-bottom: 21px;
}

.item-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.item-app p, .item-web p, .item-presentation p {
  max-width: 281px;
  margin: 19px 0;
}

.filters-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-content li {
  margin-bottom: 16px;
}

.sorting-filters {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  flex-wrap: wrap;
  padding-right: 25px;
  cursor: pointer;
}

.sorting-item:last-child {
  padding-right: 0;
}

.sorting-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
  border: none;
  background-color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
}

.sorting-link:hover, .sorting-link:focus {
  opacity: 0.6;
  color: var(--basic-black);
}

.current, .sorting-link:active {
  opacity: 1;
  color: var(--basic-black);
}

.switch {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin: 0 -9px 0 38px;
  padding: 0;
  list-style: none;
}

.sorting-switch {
  position: relative;
  display: block;
  flex: none;
  width: 30px;
  height: 30px;
}

.sorting-switch a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1, -1);
  opacity: 0.2;
  border: none;
  border-style: solid;
}

.sorting-switch a:hover {
  opacity: 1;
}

.sorting-switch-down a {
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent var(--special-gray) transparent;
}

.sorting-switch-up a {
  border-width: 10px 5px 0 5px;
  border-color: var(--special-gray) transparent transparent transparent;
}

.sorting-switch-down.current a {
  opacity: 1;
  border-color: transparent transparent var(--extra-dark-pinkred) transparent;
}

.sorting-switch-up.current a {
  opacity: 1;
  border-color: var(--extra-dark-pinkred) transparent transparent transparent;
}

.range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--dark-blueblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.range input {
  width: 60px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--basic-light-gray);
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: var(--basic-light-gray);
}

.range-filter {
  margin-bottom: 54px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--extra-light-blue);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--light-green-blue);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: pointer;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--hover-border-gray);
  box-shadow: 0 2px 1px 0 var(--special-black-toggle);
);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.max, .min {
  padding: 0;
  border: 0;
  background-color: var(--basic-light-gray);
}

.radio-input+.option:before {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -36px;
  content: "";
  opacity: 0.4;
  background-color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.radio-input:checked+.option:before {
  opacity: 0.4;
  background-color: var(--basic-white);
  background-image: url(../img/radio-on.svg);
}

.radio-input:hover+.option:before, .radio-input:focus+.option:before {
  opacity: 1;
  background-color: var(--basic-white);
  background-image: url(../img/radio-off.svg);
}

.radio-input:checked:hover+.option:before, .radio-input:checked:focus+.option:before {
  opacity: 1;
  background-color: var(--basic-white);
  background-image: url(../img/radio-on.svg);
}

.radio-input:disabled+.option:before, .radio-input:checked:disabled+.option:before, .radio-input:disabled:hover+.option:before, .radio-input:disabled:focus+.option:before {
  cursor: default;
  opacity: 0.5;
}

.radio-input:disabled+.option {
  cursor: default;
  opacity: 0.3;
}


.check-input+.option:before {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -36px;
  content: "";
  opacity: 0.4;
  background-color: var(--basic-white);
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.check-input:checked+.option:before {
  opacity: 0.4;
  background-color: var(--basic-white);
  background-image: url(../img/checkbox-on.svg);
}

.check-input:hover+.option:before, .check-input:focus+.option:before {
  opacity: 1;
  background-color: var(--basic-white);
  background-image: url(../img/checkbox-off.svg);
}

.check-input:checked:hover+.option:before, .check-input:checked:focus+.option:before {
  opacity: 1;
  background-color: var(--basic-white);
  background-image: url(../img/checkbox-on.svg);
}

.check-input:disabled+.option:before, .check-input:checked:disabled+.option:before, .check-input:disabled:hover+.option:before, .check-input:disabled:focus+.option:before {
  cursor: default;
  opacity: 0.5;
}

.check-input:disabled+.option {
  cursor: default;
  opacity: 0.3;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sorting-title {
  margin: 0;
  margin-right: auto;
  padding: 0;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.layout {
  position: relative;
  width: 358px;
  height: 619px;
  padding: 0;
  border-radius: 5px;
  background-color: var(--basic-light-gray);
}

.layout:hover .layout-menu, .layout-menu {
  opacity: 1;
}

.layout:focus-within {
  opacity: 1;
}

.layout:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--dark-gray);
  box-shadow: 0 4px 4px 0 var(--special-cursor-shadow);
}

.decoration-circle {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 13px 39px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.decoration-circle:before {
  position: absolute;
  right: 23px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background-color: var(--basic-white);
}

.decoration-circle:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 23px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background-color: var(--basic-white);
}

.layout-image {
  display: inline-block;
  width: 100%;
  padding: 0;
  vertical-align: text-bottom;
  border: var(--medium-green-blue) 1px;
  border-radius: 5px;
  border-radius: 0 0 5px 5px;
}

.content-picture {
  display: block;
  width: 100%;
  width: 100%;
  height: auto;
}

.layout-menu {
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: inherit;
  width: inherit;
  padding: 25px 20px 43px;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  opacity: 0;
  border-radius: 0 0 5px 5px;
  background-color: var(--basic-light-gray);
}

.layout-title {
  margin: 0 0 14px;
}

.layout-title a:hover, .layout-title a:focus {
  color: var(--light-pinkred);
}

.layout-title a:active {
  opacity: 0.3;
  color: var(--basic-black);
}

.layout-menu p {
  max-width: 230px;
  margin: 0 auto 0;
  color: var(--catalog-gray);
  line-height: 18px;
}

.layout-menu .template-name {
  margin: 0 0 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
}

.button-pay {
  box-sizing: border-box;
  min-width: 200px;
  margin-top: 32px;
  margin-left: 60px;
}

.button-pay:hover {
  background-color: var(--pink-red);
}

.button-pay:active {
  background-color: var(--dark-pink-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
  margin-bottom: -13px;
  padding: 0;
  list-style: none;
}

.pagination-list {
  min-width: 50px;
  margin: 0;
  margin-right: 11px;
  margin-bottom: 11px;
  border-radius: 3px;
  background-color: var(--basic-light-gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.button-current {
  padding: 14px 0 12px;
}

.pagination-list:hover {
  background-color: var(--medium-gray);
}

.pagination-list:active {
  color: var(--color-black);
  background-color: var(--light-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-list-current {
  box-sizing: border-box;
  cursor: default;
  border: 3px solid var(--color-grey-border);
  border-radius: 3px;
  background-color: var(--basic-white);
}

.pagination-list-current:hover, .pagination-list-current:active {
  user-select: none;
  color: var(--color-black);
  background-color: var(--basic-white);
  box-shadow: none;
}

.pagination-button {
  display: block;
  padding: 17px 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: bold;
}

.pagination-button-next {
  display: inline-block;
  margin-right: 0;
  padding-right: 77px;
  padding-left: 78px;
  vertical-align: top;
}

.button-current {
  padding: 14px 0 12px;
}

.button:active {
  opacity: 1;
}

.pagination-list-current .pagination-button:active {
  opacity: 1;
}


.partnership {
  position: relative;
}

.partnership-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 42px;
  padding: 0;
  margin: 0;
  padding-top: 3px;
  padding-left: 4px;
}

.partnership-list::after {
  content: "";
  position: absolute;
  bottom: 11px;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-light-gray);
}

.partnership-item{
  position: relative;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  margin-right: 3px;
}
.partnership-item:first-child {
  padding-top: 5px;
  padding-left: 1px;
}


.partnership-item:not(:nth-child(4n))::after{
  content: "";
  position: absolute;
  background-color: var(--basic-black);
  top: 60px;
  right: -21px;
  width: 2px;
  height: 52px;
}

.partnership-item:hover{
  opacity: 1;
}

.partnership-item:focus{
  opacity: 0.1;
}

.main-footer {
  display: grid;
}

.footer-contacts {
  position: relative;
  padding: 278px 0px 240px;
}

.footer-contacts-map{
   display: flex;
  align-items: center;
  justify-content: center;
  background: var(--basic-white);
  position: relative;
  z-index: -1;

}

.footer-contacts-img {
  width: 1440px;
  height: 416px;
  position: absolute;
}

.footer-contacts-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 1;
}

.footer-contacts-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--basic-white);
  height: 307px;
  width: 319px;
  position: absolute;
  bottom: -153px;
  left: 9px;
  color: var(--catalog-gray);
}

.contacts-title {
  color: var(--basic-black);
  font-weight: 700;
  letter-spacing: -0.9px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 30px;
  width: 215px;
  padding-right: 5px;
  padding-bottom: 5px;

}

.contacts-direction{
  width: 210px;
  font-size: 16px;
  line-height: 18px;
  margin: 0 auto;
  padding-right: 8px;
  color: var(--catalog-gray);
}

.footer-phone {
  padding-right: 9px;
  padding-bottom: 18px;
  width: 210px;
  color: var(--catalog-gray);
}

.footer-phone a {
  color: var(--catalog-gray);
}

.button-contacts{
  height: 50px;
  width: 219px;
}

.footer-contacts-marker {
  width: 231px;
  height: 190px;
  position: absolute;
  bottom: -68px;
  right: 275px;
}
.social-description {
  margin-left: 139px;
  order: 1;
}


.footer-social{
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.footer-title {
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: -0.8px;
  font-size: 36px;
  line-height: 36px;
}

.footer-subtitle{
 font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.social-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background: var(--social-gray);
    border-radius: 50%;
}

.social-button {
  margin-right: 9px;
}

.social-button:last-child {
  margin-right: 0;
}
.social-button a:hover{
   background: var(--pink-red);
}

.social-button a:active {
   box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   background: var(--dark-pink-red);
}
.social-button:active svg{
  opacity: 0.3;
}

.modal-window {
  position: fixed;
  z-index: 20;
  bottom: 50%;
  left: 50%;
  display: none;
  width: 960px;
  height: 590px;
  transform: translate(-50%, 50%);
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px 0 var(--special-cursor-shadow);
}

.modal-window-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-window-error {
  animation: shake 0.6s;
}

.modal-window-form {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 63px auto;
  padding: 0;
  color: var(--basic-black);
}

.modal-window-form legend {
  padding-bottom: 37px;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}

.modal-window-form fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

.modal-window-form label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.modal-window-form input, .modal-window-form textarea {
  box-sizing: border-box;
  margin-top: 9px;
  color: var(--special-form-half-gray);
  border: 2px solid var(--extra-light-blue);
  border-radius: 3px;
  outline: none;
  background: var(--basic-white);
}

.modal-window-form input {
  width: 360px;
  height: 50px;
  padding-left: 16px;
}

.modal-window-form textarea {
  width: 760px;
  height: 118px;
  padding: 16px 16px;
  resize: none;
  font-family: inherit;
  font-size: 100%;
}

.modal-window-form input:hover, .modal-window-form textarea:hover {
  border-color: var(--hover-border-gray);
}

.modal-window-form input:focus, .modal-window-form input:active, .modal-window-form textarea:focus, .modal-window-form textarea:active {
  color: var(--special-form-gray);
  border-color: var(--basic-black);
  outline: none;
}

.modal-window-form input:invalid, .modal-window-form textarea:invalid {
  color: var(--pink-red);
  border-color: var(--pink-red);
}

.button-modal-window {
  width: min-content;
  padding: 17px 83px 15px;
  cursor: pointer;
}

.button-modal-window:active, .button-modal-window:focus {
  outline: none;
}

.modal-window-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: 0.3;
  border: none;
  background-color: var(--basic-white);
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
}

.modal-window-close:hover, .modal-window-close:active {
  opacity: 1;
  outline: none;
}

.modal-window-close:active {
  opacity: 0.1;
  outline: none;
}

.fieldset-label {
  margin-bottom: 40px;
}


@keyframes bounce {
  0% {
    transform: translate(-50%, 50%) translateY(-2000px);
  }
  70% {
    transform: translate(-50, 50) translateY(30px);
  }
  90% {
    transform: translate(-50%, 50%) translateY(-10px);
  }
  100% {
    transform: translate(-50%, 50%) translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translate(-50%, 50%) translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-50%, 50%) translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translate(-50%, 50%) translateX(10px);
  }
}
